.bash_history
.bashrc
.cache/
.gitconfig
.ideavimrc
.k-tmux/
.k-vim/
.oh-my-zsh/
.profile
.rnd
.ssh/
.subversion/
.tmux.conf
.vim
.viminfo
.vimrc
.vimrc.bundles
.z
.zcompdump
.zcompdump-noopu-5.0.2
.zsh-update
.zsh_history
.zshrc
Workspaces/
ubuntu
